.fixed-pannel{
    position: fixed;

    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgb(200,200,200);
    /*border-radius: 6px 0 0 6px;*/
    float: left;
    font-family: sans-serif;
    font-size: 80%;
}

.pannel-btn-active{
    background-color: white;
}

.pannel-btn{
    float: left;
    padding: 5px;
    margin: 5px;
   
    width: 50px;
    text-align: center;
    border-radius: 6px;
    /*border-radius: 6px;*/
    cursor: pointer;
}

.pannel-btn:hover {
    background-color: rgb(180,180,180);
}

.pannel-btn-icon{
    height: 23px;
}

.pannel-btn-separator{
    float: left;
    margin: 5px;
    
    width: 2px;
    height: 42px;
    background-color: rgb(128,128,128);
}

.side_settings_menu{
    position: fixed;
    left: 0px;
    top: 61px;
    bottom: 0px;
}

.side_settings_menu-body{
    background-color: rgb(70, 70, 70);
    height: calc(100% - 20px);
    float: left;
    padding: 5px 0px;
    overflow: auto;
    padding-bottom: 20px;
}

.side_settings_menu-scroll{
    background-color: rgb(192, 192, 192);
    width: 5px;
    height: 100%;
    float: left;
    border-left: 2px solid rgb(40, 40, 40);
    cursor: col-resize;
    /*border-right: 4px solid rgba(80, 80, 80, 0);*/
}