.fixed-pannel{
    position: fixed;

    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgb(200,200,200);
    /*border-radius: 6px 0 0 6px;*/
    float: left;
    font-family: sans-serif;
    font-size: 70%;
}

.pannel-btn-active{
    background-color: white;
}

.pannel-btn{
    float: left;
    padding: 5px;
    margin: 5px;
   
    width: 50px;
    text-align: center;
    border-radius: 6px;
    /*border-radius: 6px;*/
}

.pannel-btn:hover {
    background-color: rgb(180,180,180);
}

.pannel-btn-icon{
    height: 20px;
}

.pannel-btn-separator{
    float: left;
    margin: 5px;
    
    width: 2px;
    height: 42px;
    background-color: rgb(128,128,128);
}