.main_bottom_panel-body-result{
    margin: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    color: rgb(0, 146, 12);
    border: 2px solid rgb(0, 146, 12);
    background-color: white;
    font-size: 95%;
}

.main_bottom_panel-body-error_content{
    background-color: rgb(230, 230, 230);
    height: calc(100% - 50px);
    width: calc(100%);
    overflow: auto;
}

.finish_probability_table{
    margin-top: 10px;
    width: 100%;
}

.finish_probability_table_result_td{
    height: 150px;
}

.finish_probability_table_result_td_div_bg{
    height: 50%;
}

.finish_probability_table_result_td_div_result{
    height: 50%;
    background-color: rgba(102, 5, 5, 0.767);
}